$text:#213F7D;
$btn:#39CDCC;
.navBar{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
    color: $text;
    &_logo{
        display: flex;
        margin: 1rem 0.5rem;
        gap: 1rem;
        span{
            color: $text;
        }
        img{
            width: 2rem;
            height: 2rem;
             margin-top: .3rem;
            
        }
    }
    &_searchbar{
        &_form{
            margin: 1rem 0.5rem;
            input{
                width: 20rem;
                padding: 0.8rem;
                border-radius: 0.5rem 0 0 0.5rem;
                border: 1px solid gray;
                outline: none;
            }
            button{
                width: 3.5rem;
                padding: .89rem;
                border-radius: 0 0.5rem 0.5rem 0;
                background-color: $btn;
                color: #fff;
                border: none;
                cursor: pointer;
            }
        }

    }
    &_profile{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
        margin: 1.5rem 1.5rem;
        p{
            text-decoration: underline;
        }
        .profile{
            display: flex;
            gap: 1rem;
        }
        img{
            width: 2rem;
            margin: -0.2rem 0;

        }

    }
}
@media screen and (max-width: 1024px) {
    .navBar_profile{
    display: none;
   }
  }
