$text: #545F7D;
$head: #213F7D;
$btn: #39CDCC;
$bgc:#E5E5E5;
.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap:wrap;

    &_Content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        &_Header{
            h1{
                color: $head;
                font-family: Arial, Helvetica, sans-serif;
            }
            p{
                color: $text;
            }
        }
        &_Input{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 30vw;

            input{
                padding: 0.8rem;
                outline: none;
                width: 80%;
                
            }
            .passwordDiv{
                position: relative;
                color: $btn;
                &_showPass{
                    font-size: small;
                    position: absolute;
                    margin: 0.8rem -3.8rem; 
                    z-index: 2;
                    cursor: pointer;
                }
            }
        }
        &_link{
            color: $btn;
            text-transform: capitalize;
        }
        &_btn{
            width: 85%;
            text-transform: capitalize;
            padding: 1rem;
            background-color: $btn;
            border: none;
            color: #fff;
            border-radius: 0.8rem;

            &:hover{
                margin-top: 0.5rem;
                box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
                transition: 0.15s ease-out;
            }
        }
    }
}